<app-navbar> </app-navbar>
<app-github></app-github> 
<!-- <div class="row mt-3">
     <div class="col-md-6 first">
       
     </div>
      <div class="col-md-6 mt-3">
        <app-repo> </app-repo>
     </div> -->
 <!-- </div> --> 
 <br> <br><br> <br>
       <div class="container">
       <div class="row">

           <div class="col-md-4 mt-4 ">
<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAuSWCaTX_6x3uIPvVdXv7QBFq2JErw899ZQ&usqp=CAU'); height:250px"
>
  <div class="card-body text-dark">
    <h5 class="card-title">Fun facts</h5>
    <p class="card-text">
      Sometimes emojis worth thousand words. The “thumps up” emoji has been used on Github more than 7.2 million times.
    </p>
   
  </div>
</div>
<!-- Card -->
           </div>


           <div class="col-md-4 mt-4">
<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBICPHJ86kQ-y6p2-Z9K_ibEbYmVmo6Eda-w&usqp=CAU');  height:250px"
>
  <div class="card-body text-dark">
    <h5 class="card-title">Fun facts</h5>
    <p class="card-text">
      GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over a million people use GitHub to build amazing things together.
    </p>
   
  </div>
</div>
<!-- Card -->
        </div>
        <div class="col-md-4 mt-4">
<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC6Gy73zfbJzCIZK_jNrHyS2-1aX-gSBKfHw&usqp=CAU'); height:250px"
>
  <div class="card-body text-dark">
    <h5 class="card-title">Fun facts</h5>
    <p class="card-text">
      The most popular project on GitHub is Bootstrap with over 115,000 Star and 55,000 Fork. The second spot is acquired by TensorFlow followed by Gitignore.
    </p>
    
  </div>
</div>
<!-- Card -->
        </div>
        
       </div>
           
    </div> 
            
    
   
    
       
    




