 <div class="row">
     <div class="col-md-6">
        <app-github></app-github> 
     </div>
     <div class="col-md-6">
        <app-repo> </app-repo>
     </div>
 </div>
       <div class="container">
       <div class="row">
           <div class="col-md-4 mt-4 ">
<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"
>
  <div class="card-body text-white">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
   
  </div>
</div>
<!-- Card -->
           </div>


           <div class="col-md-4 mt-4">
<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"
>
  <div class="card-body text-white">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
   
  </div>
</div>
<!-- Card -->
        </div>
        <div class="col-md-4 mt-4">
<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"
>
  <div class="card-body text-white">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    
  </div>
</div>
<!-- Card -->
        </div>
        
       </div>
           
    </div> 
            
    
   
    
       
    


<router-outlet></router-outlet>

