<section >
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 mt-3">
        <h5>Search for github account</h5>
        <div class="myForm">
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Github Username"
              [(ngModel)]='username' name="username" >
                <button class='btn btn-info mt-3 ml-3' (click)="findUser()" >Search</button>
            </div>
            
          </form>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <app-repo> </app-repo>
     </div>
    </div>
  </div>
</section>
<section *ngIf= 'myUser.login' class="ml-4" >
  <div class="card ml-3" style="width: 18rem;">
    <h3>Profile</h3>
    <img src= "{{myUser.avatar_url}}" class="img img-fluid">
    <div class="card-body">
      <ul >
        <li >Public Name </li>
        <span>{{myUser.name}}</span>
      </ul>
      <ul *ngIf='myUser.email'>
        <li >Public Repos</li>
        <span>{{myUser.public_repos}}</span>
      </ul>
      <ul>
        <li >Github Username</li>
        <span> {{myUser.login}}</span>
      </ul>
      <ul >
        <li >User Bio </li>
        <span>{{myUser.bio}}</span>
      </ul>
    </div>
   
  </div>
  <h1 class="ml-3">Public Repositories</h1>
</section>

<section class="ml-4">
  <div class="row">
      <div  *ngFor= "let repo of repos">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h4 class="alert-heading"><strong>{{repo.name}}</strong><span class="material-icons-outlined">
              verified
            </span></h4>
          <p>
            {{repo.description}}
          </p>
          <hr>
          <p class="mb-0"><a href="{{repo.html_url}}" target="blank" class="alert-link">View Project on Github</a></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
   
  </div>
  
</section>

