<br> <br><br> <br>
<div class="container">
<div class="row">

    <div class="col-md-4 mt-4 ">
<!-- Card -->
<div
class="bg-image card shadow-1-strong"
style="background-image: url(' https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=852&q=80 '); height:250px"
>
<div class="card-body text-dark">
<h5 class="card-title">Fun facts</h5>
<p class="card-text">
Sometimes emojis worth thousand words. The “thumps up” emoji has been used on Github more than 7.2 million times.
</p>

</div>
</div>
<!-- Card -->
    </div>


    <div class="col-md-4 mt-4">
<!-- Card -->
<div
class="bg-image card shadow-1-strong"
style="background-image: url('https://media.istockphoto.com/photos/close-up-of-a-golf-ball-at-the-golf-course-tee-picture-id1170329763?b=1&k=20&m=1170329763&s=170667a&w=0&h=cL3jLgKoWBb4kRknmmnnCR_b33FpTsay8Dq3_W4pVOs=');  height:250px"
>
<div class="card-body text-dark">
<h5 class="card-title">Fun facts</h5>
<p class="card-text">
GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over a million people use GitHub to build amazing things together.
</p>

</div>
</div>
<!-- Card -->
 </div>
 <div class="col-md-4 mt-4">
<!-- Card -->
<div
class="bg-image card shadow-1-strong"
style="background-image: url('https://media.istockphoto.com/photos/stairs-to-the-clouds-ladder-of-success-concept-picture-id1191509798?b=1&k=20&m=1191509798&s=170667a&w=0&h=PwiUwGfkAVv6052Pz-keL2UE-N0OYR53XWLdhDWJS4M='); height:250px"
>
<div class="card-body text-dark">
<h5 class="card-title">Fun facts</h5>
<p class="card-text">
The most popular project on GitHub is Bootstrap with over 115,000 Star and 55,000 Fork. The second spot is acquired by TensorFlow followed by Gitignore.
</p>

</div>
</div>
<!-- Card -->
 </div>
 
</div>
    
</div> 
     




